/* WoodVibes Only */
@import url('https://fonts.googleapis.com/css?family=Merienda&display=swap');

body{
  margin: 0%;
  padding: 0%;
  font-family: 'Merienda', cursive;
  background: #06406B;
  overflow: hidden;
  height: 100%;
}

.star{
  position: absolute;
  top:0%;
  left:0%;
  width:100%;
  height:100%;
  
}
.star li{
  position: absolute;
  list-style: none;
  display: block;
  animation: animate 25s linear infinite;
  bottom: -150px;
}

.star li:nth-child(1){
  left:25%;
  width:25px;
  height:25px;
  animation-delay: 0;
  animation-duration: 12s;
}
.star li:nth-child(2){
  left:10%;
  width:35px;
  height:35px;
  animation-delay: 2s;
}
.star li:nth-child(3){
  left:70%;
  width:40px;
  height: 40px;
  animation-delay: 4s;
  animation-duration: 12s;
}
.star li:nth-child(4){
  left:40%;
  width:60px;
  height: 60px;
  animation-delay: 18s;
  animation-duration: 12s;
}
.star li:nth-child(5){
  left:65%;
  width: 50px;
  height: 50px;
  animation-delay: 0;
}
.star li:nth-child(6){
  left:75%;
  width:20px;
  height:20px;
  animation-delay: 3s;
}
.star li:nth-child(7){
  left:35%;
  width:150px;
  height:150px;
  animation-delay: 7s;
}
.star li:nth-child(8){
  left:25%;
  width:25px;
  height:25px;
  animation-delay: 5s;
}
.star li:nth-child(9){
  left:20%;
  width:20px;
  height:20px;
  animation-delay: 2s;
}
.star li:nth-child(10){
  left:85%;
  width:150px;
  height:150px;
  animation-delay: 0;
}

@keyframes animate{
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }
  100%{
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
  }
}

.button{
  color: yellow;
  text-decoration: none;
  position: relative;
  top:  400px;
  left: 45%;
  font-size: 50px;
}
.button1,.button2,.button3{
  opacity: 1;
  list-style: none;
}

.button2:hover:not(.instruccionesParrafo){
  opacity: 0.5;
  transform: rotateZ(-3deg);
}
.button3:hover{
  opacity: 0.5;
  transform: rotateZ(-3deg);
}
.button1:hover{
  opacity: 0.5;
  transform: rotateZ(-3deg);
}

.lista2 li{
  margin-bottom: 20px;
}
.lista2{
  position: absolute;
  top:-5%;
  left:30%;
}

.ninja2{
  position: absolute;
  left: 65%;
  top: 120px;
}
.ninja1{
  position: absolute;
  left:-4%;
  top:120px;
}

#abrirInstrucciones:target{
 display: block;
}
.instruccionesX{
  color: black;
  font-size: 2em;
  position: absolute;
  top: .25em;
  right: 0.7em;
  text-decoration: none;
}
.instruccionesContenido{
  box-sizing: border-box;
  width:100%;
  height: 80%;
  position: absolute;
  top:0;
  left: 0;
  z-index: 10;
  display: none;
}
.instruccionesParrafo{
  width: 75%;
  height: 80%;
  background-color: beige;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding: 2em;
  opacity: 0.8;
  overflow: auto;
  border-radius: 10px;
}

.ninja1{
  transform: translateY(0px);
animation: flotando 7s ease-in-out infinite;
}
.ninja2{
  transform: translateY(0px);
  animation: flotando2 7s ease-in-out infinite;
}
@keyframes flotando{
  0%{
    transform: translateY(0px);
  }
  50%{
    transform: translateY(-20px);
  }
  100%{
    transform: translateY(0px);
  }
}
@keyframes flotando2{
  0%{
    transform: translateY(0px);
  }
  50%{
    transform: translateY(20px);
  }
  100%{
    transform: translateY(0px);
  }
}

#logoImg{
  height: 180px;
  width: 320px;
  position: absolute;
  left: 590px;
  top: 135px;
  transform: translateX(0px);
  animation: flotando3 5s ease-in-out infinite;
}
@keyframes flotando3{
  0%{
    transform: translateX(0px);
  }
  50%{
    transform: translateX(10px);
  }
  100%{
    transform: translateX(0px);
  }
}
