@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');

body{
font-family: 'Indie FLower', cursive;
margin: 0;
padding: 0;

}

#container{
width: 1490px;
/*cursor: url("./assets/img/ninja star move cursor.cur"), auto;*/
/*background: url("./assets/img/fondo1.png")no-repeat;*/
/*height: 505px;*/
margin: 0;
padding: 0;
/*background-size: cover;*/
}

.second{
  margin: -10px;
  border-top: 2px solid black;
  background: url("../assets/img/fondo2E.jpg")no-repeat;
  height: 250px;
  position: relative;
  width: 1490px;
}

#containerSecond{
  margin:0;
  padding: 0;
}

#containerPlayer1{
  position: absolute;
  color: orange;
  font-size: 40px;
  width: 100%;
  margin: 0 auto;
  position: absolute;
  top:50px;
}

#player1{
  list-style-type: none;
  float: left;
  margin: 5px;
  margin-right: 70px;
}
#puntos2{
  position: absolute;
  left:15.5%;
}
#puntos3{
  position: absolute;
  left:29%;
}

div ul li{
  display: inline;
  position: absolute;
  top: 10px;
}

#containerPlayer2{
  color:#E54A09;
  font-size: 30px;
}
#vidaCara{
  height: 40px;
  width: 40px;
}
.ninjaJugador1{
  height: 100px;
  width: 70px;
}
#timer1{
  color: red;
  font-size: 50px;
}
.moneda1{
  height: 40px;
  width: 40px;
}
#vidas{
  color: red;
}


#button1{
  position: absolute;
  left: 203px;
  top:140px;
  height: 50px;
  width: 70px;
  border-radius: 5px;
  border-color:  #E54A09;
}
/* Cantidad de ataques */
#buttonAttack1{
  position: relative;
  left: 200%;
  font-size: 30px;
  top: 35px;
  left:330px;
  font-size: 40px;
  color: red;
}
#secondImg1{
  height: 40px;
  width: 70px;
  position: absolute;
  left:315px;
  top: 145px;
}
.secondTexto1{
  font-size: 15px;
  position: absolute;
  left: 210px;
  top:50px;
}


#button2{
  position: absolute;
  left: 410px;
  top:140px;
  height: 50px;
  width: 70px;
  border-radius: 5px;
  border-color:  #E54A09;
}
/* Cantidad de ataques */
#buttonAttack2{
  position: relative;
  left: 200%;
  font-size: 30px;
  top:-30px;
  left:535px;
  font-size: 45px;
  color: red;
}
#secondImg2{
  height: 50px;
  width: 50px;
  position: absolute;
  left:520px;
  top: 140px;
}
.secondTexto2{
  font-size: 15px;
  position: absolute;
  left: 415px;
  top:50px;
}

#button3{
  position: absolute;
  left: 610px;
  top:140px;
  height: 50px;
  width: 70px;
  border-radius: 5px;
  border-color:  #E54A09;
}
/* Cantidad de ataques */
#buttonAttack3{
  position: relative;
  left: 200%;
  font-size: 30px;
  top:-95px;
  left:735px;
  font-size: 45px;
  color: red;
}
#secondImg3{
  height: 50px;
  width: 50px;
  position: absolute;
  left:720px;
  top: 140px;
}
.secondTexto3{
  font-size: 15px;
  position: absolute;
  left: 615px;
  top:50px;
}
#conteoCongelado{
  position: absolute;
  font-size: 50px;
  top: 53px;
  left:840px;
  color:blue;
}
.secondTexto4{
  position: absolute;
  color:blue;
  top:-9px;
  left: 830px;
  font-size: 25px;
}
.secondTexto5{
position: absolute;
font-size: 18px;
top:40px;
left:914px;
}

.whiteNinja{
  width: 150px;
  height: 130px;
  position: absolute;
  top: 60px;
  left: 20px;
}