@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');

body{
font-family: 'Indie FLower', cursive;
margin: 0;
padding: 0;

}

#container{
width: 100%;
/*cursor: url("./assets/img/ninja star move cursor.cur"), auto;*/
/*background: url("./assets/img/fondo1.png")no-repeat;*/
/*height: 505px;*/
margin: 0;
padding: 0;
/*background-size: cover;*/
}

#canvas{
}

.second{
  margin: -10px;
  border: 2px solid black;
  background: lightgreen;
  height: 200px;
}

#containerSecond{
  height: 200px;
  text-align: center;
  margin:0 auto;
}

.ataque1, .ataque2, 
.ataque3, .ataque4,
.divButton1, .divButton2, 
.divButton3, .divButton4{
float: left;
margin-left: 5%;
margin-top: 1%;
}

.ataque1, .ataque2, 
.ataque3, .ataque4{
  border: 1px solid black;
  width: 60px;
  height: 80px;
}
#button1,#button2, #button3, #button4{
height: 80px;
width:50px;
}

#buttonAttack1,#buttonAttack2,#buttonAttack3,#buttonAttack4{
  font-size: 50px;
}

#containerPlayer1{
  position: absolute;
  color: orange;
  font-size: 40px;
  width: 100%;
  margin: 0 auto;
}

#player1{
  list-style-type: none;
  float: left;
  margin: 5px;
}
#player2{
  margin: 5px;
}
#player1 li {
  margin-right: 70px;
}

div ul li{
  display: inline;
}

li{
  border-right: 10%;
}
#containerPlayer2{
  color:blue;
  font-size: 30px;
}
#vidaCara{
  height: 40px;
  width: 40px;
}
.ninjaJugador1{
  height: 100px;
  width: 70px;
}
#timer1{
  color: red;
  font-size: 50px;
}
.moneda1{
  height: 40px;
  width: 40px;
}
#vidas{
  color: red;
}
/*
.countdownGeneral{
  position: absolute;
  left:15%;
  top:25%;
  color: #F10F4A;
}

#conteo5{
  font-size: 70px;
  animation: conteo5 1s steps(1);
  animation-fill-mode: forwards;
  visibility: visible;
  top:0%;
  left:30%;
  text-align: center;
  z-index: 0;
}
@keyframes conteo5{
  0%{
  visibility: visible;
  z-index: 0;
  }
  100%{
  visibility: hidden;
  z-index: -1;
  }
}
#conteo4{
  font-size: 90px;
  animation: conteo4 1s steps(1);
  animation-fill-mode: forwards;
  visibility: hidden;
  top:0%;
  animation-delay: 1s;
  left:30%;
  text-align: center;
}
@keyframes conteo4{
  0%{
   
    visibility: visible;
  }
  100%{
    
    visibility: hidden;
  }
}
#conteo3{
  font-size: 90px;
  animation: conteo3 1s steps(1);
  animation-fill-mode: forwards;
  visibility: hidden;
  top:0%;
  animation-delay: 2s;
  left:30%;
  text-align: center;
}
@keyframes conteo3{
  0%{
    
    visibility: visible;
  }
  100%{
    
    visibility: hidden;
  }
}
#conteo2{
  font-size: 90px;
  animation: conteo2 1s steps(1);
  animation-fill-mode: forwards;
  visibility: hidden;
  top:0%;
  animation-delay: 3s;
  left:30%;
  text-align: center;
}
@keyframes conteo2{
  0%{
    
    visibility: visible;
  }
  100%{
   
    visibility: hidden;
  }
}
#conteo1{
  font-size: 90px;
  animation: conteo1 1s steps(1);
  animation-fill-mode: forwards;
  visibility: hidden;
  top:0%;
  animation-delay: 4s;
  left:30%;
  text-align: center;
}
@keyframes conteo1{
  0%{
    
    visibility: visible;
  }
  100%{
  
    visibility: hidden;
  }
}
#conteoCongelado{
  position: absolute;
  color: #F10F4A;
  font-size: 30px;
}


  ANIMACION COMO SI FUERA SPRITE

#coinAnimation{
  height:40px;
  width: 40px;
  position: absolute;
  background: url(./assets/img/coin4.png);
  animation: coin 1s steps(4) infinite;
}
@keyframes coin {
  from {background-position: 0px;}
  to { background-position: 40px;}
}
*/
